@model Readdit.Models.SubReaddits.SubReadditViewModel
@{
    ViewData["Title"] = "SubLinks";
    ViewData["returnUrl"] = $"/sub/{Model.SubReadditId}/{Model.SubReadditName}";
}

<h3>@Model.SubReadditName</h3>
<a 
   asp-action="CreateLink"
   asp-controller="SubReaddit"
   asp-route-id="@Model.SubReadditId"
   asp-route-subReadditName="@Model.SubReadditName">Submit a link to this community</a>

<div class="text-center">
    @foreach (var link in Model.Links)
    {
        <partial name="_linkPartial" , model="@link" view-data="ViewData" />
    }
    <a asp-action="GetLinks" asp-controller="SubReaddit" asp-route-page="@Model.NextPage">Next page</a>
</div>

