@model Readdit.Models.SubReaddits.SubReadditViewModel
@{
    ViewData["Title"] = "SubLinks";
    ViewData["returnUrl"] = $"/sub/{Model.SubReaddit.Name}";
}

<h4>@Model.SubReaddit.Description</h4>
<p>@Model.SubReaddit.Name</p>
<a 
   asp-action="CreateLink"
   asp-controller="SubReaddit"
   asp-route-subReadditName="@Model.SubReaddit.Name">Submit a link to this community</a>

<div class="text-center">
    @foreach (var link in Model.Links)
    {
        <partial name="_linkPartial" , model="@link" view-data="ViewData" />
    }
    <a asp-action="GetLinks" asp-controller="SubReaddit" asp-route-page="@Model.NextPage">Next page</a>
</div>

