@model Readdit.Models.SubReaddits.SubReadditViewModel
@{
    ViewData["Title"] = @Model.SubReaddit.Name;
    ViewData["returnUrl"] = $"/sub/{Model.SubReaddit.Name}";
    var previousPage = Model.PagedLinks.PageNumber - 1;
    var nextPage = Model.PagedLinks.PageNumber + 1;
    var nextPageRoute = $"{Model.SubReaddit.Name}?page={nextPage}";
    var previousPageRoute = $"{Model.SubReaddit.Name}?page={previousPage}";
}

    <div class="box subreaddit-header">

        <div class="row">

            <div class="col-sm-auto">
                <h3>@Model.SubReaddit.Description</h3>
            </div>

            <div class="col-sm d-flex align-items-center">
                <a class="button no-decoration" 
                    asp-action="CreateLink"
                    asp-controller="SubReaddit"
                    asp-route-subReadditName="@Model.SubReaddit.Name">Submit a link</a>
                <a class="button no-decoration">Join</a>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <p>@Model.SubReaddit.Name</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        @foreach (var link in Model.PagedLinks.Items)
        {
            <partial name="_linkPartial" , model="@link" view-data="ViewData" />
        }
    </div>

    <div class="row d-flex justify-content-center">
        @if (Model.PagedLinks.PageNumber == 1)
        {
            <a class="disabled pagination-link">&laquo;Back</a>
        }
        else
        {
            <a class="pagination-link" href="@previousPageRoute">&laquo;Back</a>
        }

        @if (Model.PagedLinks.PageNumber >= Model.PagedLinks.TotalNumberOfPages)
        {
            <a class="disabled pagination-link">Next&raquo;</a>
        }
        else
        {
            <a class="pagination-link" href="@nextPageRoute">Next&raquo;</a>
        }
    </div>

